{% extends 'base.html.twig' %}

{% block title %}Intranet LSPD SinCity{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Information du jour</h1>
    <p class="lead">Message du capitaine/commandant / êtat major </p>
  </div>
</div>
{% endblock %}
